<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body>
<h1>Book Edit Form</h1>
<form th:action="@{/updateBook}" th:object="${bookToEdit}" method="post">
    <!--    <label for="id">ID</label>-->
    <input type="hidden" id="id" name="id"/><br/>

    <label for="title" >Book Title</label>
    <input type="text" id="title" name="title" th:field="*{title}"/><br/>

    <label for="author">Author ID</label>
    <input type="text" id="author" name="author" th:field="*{author}"/><br/>

    <input type="submit" value="Edit"/>
</form>
</body>
</html>